.header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    transition: opacity 0.5s ease-in-out 0.1s;
    color: #fff;
  }
  
  .header__link:hover {
    opacity: 0.6;
  }