.popup__save-btn_loading {
  background-size: 15%;
  background-position: 15% 50%;
  background-repeat: no-repeat;
  /* background-image: url(../../../../images/loader.svg); */
  
}

.popup__save-btn_loading:hover {
  cursor: not-allowed;
  opacity: 1;
}